{% extends "blog/base.html" %}
{% load bootstrap3 %}
{% block header %}
<h2>添加一个主题</h2>
{% endblock header %}
{% block content %}
	<p><a href="{% url 'blog:topic' topic.id %}">{{topic}}</a></p>
	<form action="{% url 'blog:new_entry' topic.id %}" method='post' class="form" >
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-primary">添加学习内容</button>
		{% endbuttons %}
	</form>
{% endblock content %}
<script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
