{% extends "blog/base.html" %}
{% load bootstrap3 %}
{% block header %}
<h3>博客列表</h3>
{%endblock header %}
{% block content %}
    <a href="{% url 'blogs:add_blog' %}">增加新的博客</a>
<ul>
    {% for blog in blogs %}
    <li>
        <p><a href="{% url 'blogs:blog' blog.id %}">{{ blog.title }}</a></p>
        <p>{{ blog.date_added | date:'M d,Y H:i' }}<p>
        <p>{{ blog.text }}</p>
			<a href="{% url 'blogs:edit_blog' blog.id %}">修改博客内容</a>
    </li>
    {% empty %}
    <li><p>暂没有发表博客</p></li>
    {% endfor %}
</ul>
{% endblock content %}
